.item-enter {
  opacity: 0;
}

.item-enter-active {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.item-exit {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.item-exit-active {
  opacity: 0;
}
