.item-enter {
  opacity: 0;
  transform: rotateX(90deg);
}

.item-enter-active {
  opacity: 1;
  transition: 300ms ease-in-out;
  transform: rotateX(0);
}

.item-exit {
  opacity: 1;
  transition: 300ms ease-in-out;
  transform: rotateX(0);
}

.item-exit-active {
  opacity: 0;
  transform: rotateX(90deg);
}
